<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMAA Portal</title>

    <!--Bootstrap, jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Math', 'English', 'History'],
                ['September',  87,      82, 75],
                ['October',  84,      78, 73],
                ['November',  89,       85, 77],
                ['December',  91,      83,82],
                ['January',  94,      83, 75],
                ['February',  92,      89, 81],
                ['March',  91,      80, 86],
                ['April',  93,      89, 83],
                ['May',  90,      87,87],
                ['June',  94,      83, 89],
                ['July',  92,      85, 84],
                ['August',  95,      84, 90],
            ]);

            var options = {
                title: 'Performance\n',
                curveType: 'function',
                legend: { position: 'bottom' },
                titleTextStyle: {
                    fontSize: 32, // 12, 18 whatever you want (don't specify px)

                }
            };
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
            var data2 = google.visualization.arrayToDataTable([
                ['Month', 'Math', 'English', 'History'],
                ['September',  92,      87, 82],
                ['October',  94,      78, 73],
                ['November',  91,       85, 77],
                ['December',  82,      94,94],
                ['January',  76,      92, 75],
                ['February',  82,      89, 81],
                ['March',  87,      81, 86],
                ['April',  93,      89, 83],
                ['May',  90,      87,87],
                ['June',  92,      83, 94],
                ['July',  94,      85, 84],
                ['August',  91,      84, 87],
            ]);
            var chart2 = new google.visualization.LineChart(document.getElementById('tab2'));
            chart2.draw(data2, options);
        }
    </script>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top" id="mainNav">
    <div class="container justify-content-start">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="cmaa.gif" width="50" height="50" class="d-inline-block align-top" alt="">
            <a class="text-white" style="font-size:24px">Chinese Mutual Aid Association</a>
        </a>

    </div>
</nav><br>
<h4 style="padding-left:40px;padding-top: 0px">My Kids</h4>
<div class="row">

    <div class="col-md-2" style="padding-left:40px">
        <ul class="nav nav-pills nav-pills-rose flex-column">
          <li id="vincent" class="nav-item"><a class="nav-link active" href="#curve_chart" data-toggle="tab">Vincent</a></li>
          <li id="kelly" class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Kelly</a></li>
          <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Options</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="tab-content">
            <div class="tab-pane active" id="curve_chart" align="center" style="height: 540px; width: 1200px; margin-left:0px;position:absolute;">
            </div>
            <div class="tab-pane active" id="tab2" align="center" style="height: 540px; width: 1200px; margin-left:0px;position:absolute;">
            </div>
            <div class="tab-pane" id="tab3">
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
            </div>
        </div>
    </div>
</div>

<!--
<div class="container">
    <div class = "btn-group-vertical btn-block">
        <button type="button" class = "btn btn-primary" style= "margin-bottom:20px; margin-left:160px; width: 200px">Go back</button>
    </div>
</div>
-->
<script>
    $(document).ready(function() {
        $("#kelly").removeClass("active");
    });
</script>
</body>
</html>